<div class="article animate grid__post">

  {{ if .Params.Image }}
  <a class="article__image" href="{{ .RelPermalink }}">
    <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
  </a>
  {{ end }}

  <div class="article__content">
    {{ if .Params.tags }}
    <div class="article-tags__box">
    {{ range ($.GetTerms "tags") }}
      <a href="{{ .Permalink }}" class="article__tag">{{ .LinkTitle }}</a>
    {{ end }}
    </div>
    {{ end }}

    <h2 class="article__title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    <p class="article__excerpt">{{ if .Description }}{{ .Description }}{{ else }}{{ truncate 250 .Summary | safeHTML }}{{ end }}</p>
  </div>

</div>